/* *{
    margin: 0;
    padding: 0;
} */
body{
    margin: auto;
    color: white;
    background-color: #313d52; 
    text-align: center
}
nav{
    background-color: rgb(31, 105, 161);
}
h1{
    padding: 30px 30px 30px 30px;
    font-family: 'PT Serif', serif;
}
h2{
    font-family: 'Radio Canada', sans-serif;
}

p{
    /* padding: 5px 5px 5px 5px; */
    font-family: 'Radio Canada', sans-serif;
}
ul li{
    list-style: none;
}
.carmod{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(216, 0, 0);
}
.imagenmod{
    width: 50%;
}
img{
    /* width: 1300px auto;
    height: 710px auto; */
    width: 80%;
    padding: auto;
}
/* .fordgt{
    width: 70%;
} */
iframe{
    width: 80%;
}
footer{
    /* padding: 5px 5px 5px 5px; */
    background-color: #fff;
    width: 100%;
    /* border: solid 5px black; */
}
footer ul li {
    /* background-color: #fff; */
    display: inline-block;
    text-align: center;
    width: 100%;
}
footer ul li a{
    text-decoration: none;
    color: black;
}

nav :hover{
    color: gold ;
    transition: all 0.3s;
}

.articulo2{
    font-size: large;
    display: grid;
    grid-template-columns: auto auto;
}


/* @media screen and (max-width: 480px) {
    .pageone{
        grid-template-columns: auto auto;
    }
    .articulo2{
        grid-template-columns: 50% 50%;
    }
} */